@media (min-width: 768px) {
    .header-wrap{position:fixed;}
    .main-wrap{margin-left: 16.52%;}
 }
 @media (max-width: 767px){
    .header-wrap{display: none;}
    .main-wrap{margin-left: 0;}    
 }
